<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.paascloud.provider.mapper.MdcProductCategoryMapper">
  <resultMap id="BaseResultMap" type="mdcProductCategory">
    <id column="id" property="id" jdbcType="BIGINT"/>
    <result column="version" property="version" jdbcType="INTEGER"/>
    <result column="img_id" property="imgId" jdbcType="BIGINT"/>
    <result column="pid" property="pid" jdbcType="BIGINT"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="category_code" property="categoryCode" jdbcType="VARCHAR"/>
    <result column="status" property="status" jdbcType="INTEGER"/>
    <result column="sort_order" property="sortOrder" jdbcType="INTEGER"/>
    <result column="creator" property="creator" jdbcType="VARCHAR"/>
    <result column="creator_id" property="creatorId" jdbcType="BIGINT"/>
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
    <result column="last_operator" property="lastOperator" jdbcType="VARCHAR"/>
    <result column="last_operator_id" property="lastOperatorId" jdbcType="BIGINT"/>
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
  </resultMap>
  <resultMap id="BaseVoResultMap" type="com.paascloud.provider.model.vo.MdcCategoryVo" extends="BaseResultMap">
  </resultMap>
  <sql id="Base_Column_List">
    ${alias}.id,
    ${alias}.version,
    ${alias}.category_code,
    ${alias}.img_id,
    ${alias}.pid,
    ${alias}.name,
    ${alias}.status,
    ${alias}.sort_order,
    ${alias}.creator,
    ${alias}.creator_id,
    ${alias}.created_time,
    ${alias}.last_operator,
    ${alias}.last_operator_id,
    ${alias}.update_time
  </sql>
  <select id="selectCategoryDtoList" resultType="com.paascloud.provider.model.dto.ProductCategoryDto">
    SELECT
      id   AS categoryId,
      name AS categoryName
    FROM pc_mdc_product_category
    WHERE pid = #{id,jdbcType=INTEGER}
  </select>
  <select id="listCategoryVo" resultType="com.paascloud.provider.model.vo.MdcCategoryVo">
    SELECT
    <include refid="Base_Column_List">
      <property name="alias" value="category"/>
    </include>
    from
    pc_mdc_product_category category
  </select>
</mapper>