<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paascloud.provider.mapper.UacRoleMapper">
    <resultMap id="BaseResultMap" type="com.paascloud.provider.model.domain.UacRole">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="role_code" jdbcType="VARCHAR" property="roleCode"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="creator_id" jdbcType="BIGINT" property="creatorId"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="last_operator" jdbcType="VARCHAR" property="lastOperator"/>
        <result column="last_operator_id" jdbcType="BIGINT" property="lastOperatorId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        r.id AS id,
        r.version as version,
        r.role_code as roleCode,
        r.role_name as roleName,
        r.status as status,
        r.remark as remark,
        r.creator as creator,
        r.creator_id as creatorId,
        r.created_time as createdTime,
        r.last_operator as lastOperator,
        r.last_operator_id as lastOperatorId,
        r.update_time as updateTime
    </sql>
    <sql id="Base_Where_Condition">
        <if test="id != null and id != ''">
            AND id = #{id,jdbcType=BIGINT}
        </if>
        <if test="version != null ">
            AND version = #{version,jdbcType=INTEGER}
        </if>
        <if test="roleCode != null and roleCode != ''">
            AND role_code = #{roleCode,jdbcType=VARCHAR}
        </if>
        <if test="roleName != null and roleName != ''">
            AND role_name = #{roleName,jdbcType=VARCHAR}
        </if>
        <if test="status != null and status != ''">
            AND status = #{status,jdbcType=VARCHAR}
        </if>
        <if test="remark != null and remark != ''">
            AND remark = #{remark,jdbcType=VARCHAR}
        </if>
        <if test="creator != null and creator != ''">
            AND creator = #{creator,jdbcType=VARCHAR}
        </if>
        <if test="creatorId != null and creatorId != ''">
            AND creator_id = #{creatorId,jdbcType=BIGINT}
        </if>
        <if test="createdTime != null">
            AND created_time = #{createdTime,jdbcType=TIMESTAMP}
        </if>
        <if test="lastOperator != null and lastOperator != ''">
            AND last_operator = #{lastOperator,jdbcType=VARCHAR}
        </if>
        <if test="lastOperatorId != null and lastOperatorId != ''">
            AND last_operator_id = #{lastOperatorId,jdbcType=BIGINT}
        </if>
        <if test="updateTime != null">
            AND update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
    </sql>
    <sql id ="Base_OrderBy_Condition">
        <if test="orderBy != null and orderBy !=''">
            ORDER BY ${orderBy}
        </if>
    </sql>
    <sql id ="Base_Set_Condition">
        <set>
            <if test="version != null">
                version = version + 1,
            </if>
            <if test="roleCode != null">
                role_code = #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="creatorId != null">
                creator_id = #{creatorId,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastOperator != null">
                last_operator = #{lastOperator,jdbcType=VARCHAR},
            </if>
            <if test="lastOperatorId != null">
                last_operator_id = #{lastOperatorId,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
    </sql>
    <select id="findByRoleCode" resultType="com.paascloud.provider.model.domain.UacRole">
        SELECT * from pc_uac_role WHERE role_code=#{roleCode,jdbcType=VARCHAR}
    </select>
    <select id="queryRoleListWithPage" resultType="com.paascloud.provider.model.vo.RoleVo">
        SELECT
        tur.id AS id,
        tur.version AS version,
        tur.role_code AS roleCode,
        tur.role_name AS roleName,
        tur.status AS status,
        tur.remark AS remark,
        tur.creator AS creator,
        tur.creator_id AS creatorId,
        tur.created_time AS createdTime,
        tur.last_operator AS lastOperator,
        tur.last_operator_id AS lastOperatorId,
        tur.update_time AS updateTime
        FROM pc_uac_role tur
        WHERE 1 = 1
        <if test="status != null and status != ''">
            AND tur.status = #{status}
        </if>
        <if test="roleCode != null and roleCode != ''">
            AND tur.role_code LIKE concat('%',#{roleCode},'%')
        </if>
        <if test="roleName != null and roleName != ''">
            AND tur.role_name LIKE concat('%',#{roleName},'%')
        </if>
        <include refid="Base_OrderBy_Condition"></include>
    </select>
    <select id="selectAllRoleInfoByUserId" resultMap="BaseResultMap">
        SELECT
            r.id,
            r.role_name,
            r.role_code,
            r.remark,
            r.status
        FROM
            pc_uac_role r
            LEFT JOIN pc_uac_role_user ru ON ru.role_id = r.id
        WHERE ru.user_id = #{userId}
    </select>
    <select id="selectRoleList" resultMap="BaseResultMap" parameterType="uacRole">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            pc_uac_role r
        WHERE
            1=1 <include refid="Base_Where_Condition"/>
        <if test="orderBy != null and orderBy !=''">
            ORDER BY ${orderBy}
        </if>
    </select>
    <select id="selectAllNeedBindUser" parameterType="map" resultType="com.paascloud.provider.model.dto.role.BindUserDto">
        SELECT
            a.id as userId,
            a.mobile_no as mobileNo,
            a.user_name as userName,
            (a.id = b.id) OR (a.id = #{currentUserId}) AS disabled
        FROM
            (
                SELECT
                    u.id,
                    u.mobile_no,
                    u.user_name
                FROM pc_uac_user u) a
            LEFT JOIN
            (
                SELECT
                    u.id,
                    u.mobile_no,
                    u.user_name
                FROM pc_uac_user u INNER JOIN pc_uac_role_user ru ON u.id = ru.user_id
                    INNER JOIN pc_uac_role role ON role.id = ru.role_id
                WHERE role.id = #{superManagerRoleId}) b
        ON a.id = b.id
    </select>
    <delete id="batchDeleteByIdList" parameterType="list">
        delete from pc_uac_role
        where id in
        <foreach collection="idList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>